* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
}
header ul {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
  margin-right: 2em;
}
header ul li {
  display: inline-block;
  padding: 0.5em 1em;
}
header ul li a {
  text-decoration: none;
  color: #797979;
}
header ul li a:hover {
  text-decoration: underline;
}
header div {
  background-color: #f38181;
}
header div img {
  width: 3em;
  height: 2em;
}

.section-1 {
  background: url("../slike/intro.jpg");
  height: 40em;
  background-size: cover;
  display: flex;
}
.section-1 div {
  align-self: flex-end;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1em;
  background: rgba(90, 90, 90, 0.5);
  font-weight: bold;
  font-size: 1.5em;
}

.section-2 {
  padding: 1em 6em 1em 1em;
  text-align: right;
}
.section-2 button {
  margin: 0 1em;
  padding: 1em 2em;
  border-radius: 25px;
  font-size: 12px;
  cursor: pointer;
}
.section-2 button:hover {
  background-color: grey;
  color: white;
}

.section-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 32em;
  background-color: #f3f7f9;
}
.section-3 .img-text-row {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
.section-3 .img-text-row .img-text-box {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.section-3 .img-text-row .img-text-box img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}
.section-3 .img-text-row .img-text-box div {
  display: none;
}
.section-3 .img-text-row .img-text-box:hover div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-3 .img-text-row .fin-two {
  flex-direction: row-reverse;
}
.section-3 .img-text-row .fin-two p {
  text-align: right;
}
.section-3 .img-text-row .img-text-box p {
  color: #f38181;
}

.section-4 {
  display: flex;
  justify-content: center;
}
.section-4 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.section-4 div h1 {
  margin: 1em 0;
}
.section-4 div p {
  margin: 1em 0;
}
.section-4 div table {
  margin: 1em 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: center;
}
.section-4 div table td {
  border: 1px solid gray;
  padding: 10px 0;
}
.section-4 div table .td-noborder {
  border-style: hidden !important;
}
.section-4 div table .td-red {
  background-color: #f38181;
}
.section-4 div table .td-gray {
  background-color: #5d5656;
}
.section-4 div .btn-check-prices {
  display: none;
}

.section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  background-color: #f3f7f9;
}
.section-5 .iframe-form {
  width: 72%;
  display: flex;
  justify-content: space-between;
}
.section-5 .iframe-form iframe {
  margin: 1em;
}
.section-5 .iframe-form .contact-form {
  margin: 1em;
  width: 70%;
  height: 13em;
  background-color: #f38181;
}
.section-5 .iframe-form .contact-form form div {
  margin: 1em;
  height: 2.5em;
}
.section-5 .iframe-form form .gender-and-name {
  display: flex;
  justify-content: space-between;
}
.section-5 .iframe-form form .gender-and-name select {
  width: 20%;
}
.section-5 .iframe-form form .gender-and-name input {
  width: 70%;
}
.section-5 .iframe-form form .email > * {
  width: 100%;
  height: 100%;
}
.section-5 .iframe-form form textarea {
  width: 100%;
}

footer {
  font-size: 1.6rem;
  width: 100%;
  height: 35px;
  color: white;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p span {
  color: red;
}

@media screen and (max-width: 950px) {
  .section-3 .img-text-row .img-text-box {
    width: 80%;
  }

  .section-5 .iframe-form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-5 .iframe-form .contact-form {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  header {
    justify-content: flex-start;
    flex-direction: column;
    background-color: #282828;
    color: white;
  }
  header ul {
    flex-grow: 0;
    order: 2;
    display: block;
    text-align: center;
  }
  header ul li {
    display: block;
    padding: 1em 0;
  }
  header div {
    order: 1;
  }

  .section-1 {
    background: none;
    height: 9em;
  }
  .section-1 div {
    background-color: black;
  }

  .section-2 {
    white-space: nowrap;
  }

  .section-3 {
    height: 41em;
    padding-top: 1em;
  }
  .section-3 .img-text-row {
    width: 100%;
    justify-content: space-between;
  }
  .section-3 .img-text-row .img-text-box {
    pointer-events: none;
    flex-direction: column;
    width: 100%;
  }
  .section-3 .img-text-row .img-text-box img {
    align-self: center;
    margin-bottom: 1em;
  }
  .section-3 .img-text-row .img-text-box div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .section-3 .img-text-row .fin-two div p {
    text-align: center;
  }

  .section-4 table {
    display: none;
  }
  .section-4 div .btn-check-prices {
    display: flex;
    justify-content: center;
  }
  .section-4 div .btn-check-prices button {
    margin: 0 1em;
    padding: 1em 2em;
    border-radius: 25px;
    font-size: 12px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
