@mixin main {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
  }
}

@mixin children-positions($value) {
  display: flex;
  justify-content: $value;
}

@mixin tablet {
  @media screen and (max-width: 950px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 650px) {
    @content;
  }
}
